.body {
    padding-left: 10%;
    padding-right: 10%;
}

.nav {
    background:none
}

h1{
    margin:0
}

.half-first{
    width: 45vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    
    
    /* background-color: aquamarine; */
}

.cont-basic-info .name-career{
    position: relative;
    top:18%
    
}

.cont-basic-info h1 {
    font-size: 5rem;
    
}

.cont-basic-info h3 {
    font-size: 50px;
}

.cont-basic-info p {
    position: relative;
    top:28%
}

.description {
    font-size: 2rem;
}

.half-second {
    /* background-color: blueviolet; */
    width: 54vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top:60px;
    right:0;
    
    

}

.img-avatar img {
    position: relative;
    
}